/*documento css*/
 
*{ margin: 0px 0px 0px 0px;
    padding: 0px;}

    body{background-color: rgb(122, 120, 120);}

     .cabecera { display: block;
        width: 100%;
        height: 120px;
        padding: top 20px;
        background-color: rgba(29, 4, 4, 0.459);} 
        
        h1{text-align: center;
           padding: 15px 0px;
           background-color: rgb(177, 0, 0) ;
           line-height: 40px;
           color: rgb(0, 0, 0);}

           .cajas{display: block;
                   width: 60%;
                   min-height: 1px;
                   background: rgb(165, 8, 8);
                   margin: 15px auto;
                   padding: 15px auto;}
                   
           footer{width: 100%;
                   height: 30px;
                   padding: top 20px;
                   color:white;
                   background-color: black;
                   text-align: center;}

                video{align-content: center;}